{% extends 'public/layout.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 50px">
            <div class="col-md-8 offset-md-2">
                <h2>关于我们</h2>
                <hr>
                <p>哈尔滨师范大学 Panther 信息安全实验室
                </p>
                <p>
                    <small>This line of text is meant to be treated as fine print.</small>
                </p>
                <p>The following is <strong>rendered as bold text</strong>.</p>
                <p>The following is <em>rendered as italicized text</em>.</p>
                <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                <hr>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
                <br><br><br>
            </div>
        </div>
    </div>
{% endblock %}